POSTGRES_USER=mvp
POSTGRES_PASSWORD=mvp
POSTGRES_DB=mvp
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
REQUIRED_CERTIFICATE_HOLDER=Northwind Construction LLC
MINIMUM_GL_OCCURRENCE_LIMIT=2000000
RULES_VERSION=rules.v1
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
